* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Roboto', sans-serif;
}

.header {
   background: #282828;
   min-height: 110px;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.header-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 15px 0;
}
.header-block__logo {
   border-right: 2px solid #454C59;
   padding: 5px 8% 5px 0;
}
.header-block__logo a {
   display: inline-block;
   margin: 0 25px;
}
.header-block__text {
font-size: 20px;
color: #FFFFFF;
font-weight: 400;
}
.header-block__phone {
   display: flex;
}
.header-block__phone-img {
   margin: 9px 17px 0 0 ;
   
}
.header-block__phone-img img{
   max-width: 47px;
}
.header-block__phone-text {
   font-weight: 500;
   font-size: 32px;
   color: #ffffff;
}
.header-block__phone-text span {
   display: block;
   font-weight: 300;
   font-size: 20px;
}
 /* ======== preview ======= */
.preview-text {
   font-weight: 500;
   font-size: 60px;
   line-height: 78px;
   letter-spacing: -0.2px;
   color: #000000;
   margin: 0 0 0 160px;
   padding: 30px 0 0 0;
}
.preview {
   background: url(../img/fork-2.png) 50% -60px / cover no-repeat;
   min-height: 100vh;
   padding-bottom: 244px;
}
.preview-block {
   display: flex;
   padding: 190px 0px 0 180px;
}
.preview-block__card {
   max-width: 603px;
   margin: 60px 0 0 0;

}
.preview-block h1 {
   font-weight: 500;
   font-size: 37px;
   letter-spacing: -0.2px;
   padding-left: 60px;
   margin: 5px 0;
   }
.preview-block h2 {
   display: block;
   font-size: 75px;
   letter-spacing: -0.2px;
   text-transform: capitalize;
   padding-left: 60px;
}
.preview-block h2 span {
   display: block;
   font-size: 85px;

}
.preview-block p {
   font-weight: 500;
   font-size: 32px;
   letter-spacing: -0.2px;
   padding-left: 60px;
   padding-bottom: 20px;
}
/* ==== preview-block__percent-credit === */
.preview-block__percent-credit {
   display: flex;
   background: linear-gradient(90deg, #FFFFFF 75.2%, rgba(255, 255, 255, 0) 98.61%);
   text-align: center;
   padding-bottom: 18px;
}
.preview-block__percent-credit-item {
   max-width: 320px;
}
.preview-block__percent-credit-item h3 {
   font-weight: 700;
   font-size: 35px;
   padding: 20px 0 0 20px;
}
.preview-block__percent-credit-item p {
   font-weight: 500;
   font-size: 20px;
   padding: 15px 10px 0 60px;
}
/* ===== кнопки ========= */

.preview-btn {
   padding: 60px 0 0 300px;
   text-align: center;
}
.preview-btn-1 {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-decoration: none;
   padding: 17px 40px;
   background: #FFD300;
   border-radius: 31.8449px;
   text-transform: uppercase;
   color: #000000;
   margin: 0 28px;
}
.preview-btn-2 {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   padding: 17px 38px;
   text-transform: uppercase;
   margin: 0 28px;
   color: #1F4877;
}

/* =============== conditions============ */
.conditions-bl {
   margin-bottom: 30px;
}

.conditions-bl h3 {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 45px;
   line-height: 53px;
}
/* ===== */
.conditions-block {
   display: flex;
   /* justify-content: center; */
   flex-wrap: wrap;
   margin: 0 0 50px;
}

.conditions-block__item {
   display: flex;
   align-items: center;
   margin: 10px 25px;
   width: 520px;
}
.conditions-block__item-text {
   padding: 0 0 0 24px;
}
.conditions-block__item-text ul {
   padding: 8px 0 0 18px;
   color: #FFD300;
}
.conditions-block__item-text ul span {
   color: #000000;
}

.conditions-block__item-text p a {
   color: #40bcff;
}
.conditions-btn {
   margin: 90px auto;
   width: 300px;
}
.conditions-btn .btn {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   background: #FFD300;
   border-radius: 31.8449px;
   text-decoration: none;
   padding: 16px 37px;
   color: #000000;
}

/* ============= clever ============= */

.clever h2 {
   font-weight: 700;
   font-size: 45px;
   line-height: 53px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 117px;
   padding: 20px;
}
.clever-block {
   display: flex;
   justify-content: space-between;
   margin-bottom: 190px;
}
.clever-block__item-img {
   width: 240px;
   margin: 0 auto;
}
.clever-block__item img {
   display: block;
   max-width: 100%;
}
.clever-block__item h3 {
   width: 240px;
   margin-top: 30px;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-align: center;

}
.clever-block__item h3 span {
   display: block;
   font-weight: 300;
   font-size: 17px;
   line-height: 21px;
   text-align: center;
}
/* ======= clever-fofm =========== */
.clever-fofm {
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.clever-fofm form input {
   width: 360px;
   height: 83px;
   margin: 36px 16px;
   text-align: center;
   align-items:center;
   background: #FFFFFF;
   border: 1px solid #787878;
   box-sizing: border-box;
   border-radius: 10px;

}
.clever-fofm form .btn {
   font-weight: 700;
   font-size: 28px;
   line-height: 33px;
   text-align: center;
   color: #000000;
   border: 0.2px solid #FFE15A;
   text-shadow: 0px 0.5px 2px #FFE15A;
   background: linear-gradient(180deg, #FEDD46 0%, #FABD16 100%);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   padding: 19px 15px;
   width: 283px;
   margin: 45px 0;
}

/* ============== questions ========== */
.questions {
   background: url(../img/Rectangle-204.png) 50% 0 / cover no-repeat ;
   min-height: 650px;
}
.questions h2 {
   font-weight: 700;
   font-size: 45px;
   line-height: 53px;
   text-align: center;
   text-transform: uppercase;
   padding: 200px 0 70px;
}
.questions-block {
   display: flex;
   justify-content: space-between;
}
.questions-block__item {
   padding: 50px 20px;
}
.questions-block__item-img {
   width: 170px;
   margin: 22px auto;
}
.questions-block__item-img img {
   max-width: 100%;
}
.questions-block__item-text {
   text-align: center;
}
.questions-block__item-text p {
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
}
.questions-block__item-text a {
   display: block;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   text-decoration-line: underline;
   color: #FFFFFF;
}


/* =============== footer ============= */
.footer {
   background: #303849;
   min-height: 425px;
}


/* =========== media =========== */
/* =========== media =========== */
/* =========== media =========== */

/* ======== media 1800 ======== */
@media (max-width: 1800px) {
   .preview {
      padding-bottom: 170px;
  }
   .preview-block {
      padding: 130px 0px 0 60px;
  }
}
/* ======== media 1600 ======== */
@media (max-width: 1600px) {
   .preview-block {
      padding: 90px 0px 0 60px;
   }
   .preview-text {
       padding: 8px 0 0 0;
   }
}
/* ======== media 1500 ======== */
@media (max-width: 1500px) {
   .preview-block h1 {
      font-size: 32px;
  }
  .preview-block h2 {
   font-size: 56px;
   }
   .preview-block h2 span {
    font-size: 60px;
   }
   .preview-block p {
      font-size: 24px;
      padding-bottom: 14px;
   }
  .preview-block__percent-credit-item h3 {
      font-size: 24px;
      padding: 20px 0 0 20px;
   }
   .preview-block__percent-credit-item p {
      font-size: 16px;
      padding-bottom: 8px;
  }
  .preview-block__card img {
   max-width: 450px;
   }
}
/* ======== media 1300 ======== */
@media (max-width: 1300px) {
   .preview-text {
      padding: 0;
      font-size: 50px;
      line-height: 50px;
  }
   .preview-block {
      padding: 40px 0px 0 60px;
   }
   .preview-block h1 {
   font-size: 28px;
   }
   .preview-block h2 {
      font-size: 44px;
   }
   .preview-block h2 span {
      font-size: 46px;
   }
   .preview-block p {
      font-size: 18px;
      padding-bottom: 10px;
   }
   .preview-block__percent-credit {
      padding-bottom: 0px;
   }
   .preview-block__percent-credit-item p {
    font-size: 16px;
    padding-bottom: 0px;
   }
   .preview-block__card img {
      max-width: 340px;
  }
}

/* ======== media 1170 ======== */
@media (max-width: 1170px) {
   .preview-text {
      font-size: 44px;
      padding:  0;
   }
   .preview-block h1 {
      font-size: 24px;
   }
  .preview-block h2 {
   font-size: 38px;
   }
   .preview-block h2 span {
      font-size: 40px;
   }
   .preview-block__percent-credit-item h3 {
      font-size: 22px;
      padding: 10px 0 0 10px;
   }
   .preview-block__percent-credit-item p {
      padding: 4px 7px 13px 25px;
   }
   .preview-block__card {
    max-width: 603px;
    margin: 40px 0 0 0;
   }
}


/* ======== media 1020 ======== */
@media (max-width: 1020px) {
   .header-block__logo a {
      display: block;
     }
     .header-block__logo {
      border: none;
      padding: 5px 0;
  }
   .preview {
      background: none;
      padding: 0;
   }
   .preview-text {
      font-size: 40px;
      background: #FFD300;
      text-align: center;
      padding: 0;
      margin: 0;
  }
   .preview-block {
      display: block;
      padding: 0 30px 
   }
   .preview-block h1 {
      padding: 0;
  }
   .preview-block h2 {
      padding: 0;
  }
   .preview-block p {
      padding: 0;
  }
   .preview-block__card {
   margin: 40px auto 0;
   }
   .preview-block__card img {
      display: block;
      margin: 0px auto 15px;
   }
   .preview-block__percent {
      text-align: center;
   }
   .preview-block__percent-credit {
      margin: 28px 0;
      display: flex;
      justify-content: space-between;
   }
   .conditions-bl {
      margin: 30px 0 40px;
  }
  .preview-btn {
   padding: 40px 0 20px 0px;
   }
   .conditions-btn {
      margin: 50px auto;
   }
   .clever-block {
      margin-bottom: 50px;
   }
   .clever h2 {
      margin-bottom: 0px;
   }
}
/* ======== media 760 ======== */
@media (max-width: 760px) {
   .header-block__text {
      display: none;
   }
  .header-block {
      padding: 25px 30px 0;
   }
   .preview-text {
      margin: 0;
      padding: 8 30px;
   }
   .preview-btn {
      padding: 40px 0 20px 0px;
   }
   .preview-btn-1 {
      font-size: 15px;
      padding: 16px 38px;
      margin: 0;
   }
  .preview-btn-2 {
   font-size: 15px;
   padding: 16px 38px;
   text-transform: uppercase;
   margin: 0;
   }
   /*  === clever-block === */
   .clever h2 {
      margin-bottom: 0;
   }
   .clever-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
   }
   .clever-block__item h3 {
      margin: 25px auto 50px;
   }
   .clever-fofm form input {
      width: 260px;
      height: 65px;
      margin: 10px 10px;
   }
   .clever-fofm form .btn {
      margin: 45px 0 0;
  }
   .questions-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .questions-block__item {
      padding: 50px 20px;
  }
  .questions h2 {
   font-size: 40px;
   line-height: 40px;
  }
}

/* ======== media 590 ======== */
@media (max-width: 590px) {
   .header-block__phone-text {
      font-size: 18px;
   }
  .header-block__phone-text span {
   font-size: 12px;
   }
   .header-block__phone-img img {
      max-width: 26px;
   }
   .header-block__phone-img {
      margin: 4px 17px 0 0;
  }
  .header-block {
   padding: 12px 30px 0;
   }
   .preview-text {
      font-size: 30px;
      line-height: 32px;
   }
  .preview-btn {
    padding: 0 20px;
    display: block;
   }
   .preview-btn-1 {
      font-size: 15px;
      padding: 16px 38px;
      margin: 10px 0;
      display: block;
   }
  .preview-btn-2 {
   margin: 10px 0;
   display: block;
   }
   .preview {
      min-height: 300px;
   }
   .preview-block__percent-credit {
      display: block;
   }
   .preview-block__percent-credit-item {
      margin: 10px auto;
   }
   .clever h2 {
      font-weight: 700;
      font-size: 35px;
      line-height: 44px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding: 0;
   }
   .questions h2 {
   padding: 90px 0 100px;
   }
   .questions-block__item {
      padding: 5px 20px;
  }
}

/* ======== media 460 ======== */
@media (max-width: 460px) {
   .header-block__logo img {
      width: 120px;
   }
   .header-block__phone-img {
      display: none;
   }
   .header-block {
   padding: 12px 10px 0;
   }
   .preview-block__card img {
      max-width: 260px;
   }
   .preview-block__percent h1 {
      margin-bottom: 25px;
   }
   .preview-block__percent h2 {
      font-size: 34px;
   }
   .preview-block__percent h2 span {
      font-size: 34px;
   }
   .conditions-bl h3 {
      font-size: 26px;
      line-height: 38px;
  }
   .conditions-block__item {
      margin: 10px 10px;
   }
   .conditions-block__item-img {
      display: block;
      text-align: center;
      margin-bottom: 0;
   }
   .conditions-block__item-text {
      padding: 0 0 0 15px;
  }
   .conditions-btn {
      text-align: center;
   }
  .clever h2 {
   font-size: 26px;
   line-height: 36px;
   margin-bottom: 20px;
   }
   .clever-block {
      margin-bottom: 0;
  }
   .clever-fofm form input {
      width: 250px;
      height: 47px;
      margin: 10px 0;
   }
   .clever-fofm form .btn {
      padding: 10px 15px;
  }
   .questions h2 {
      font-size: 28px;
      line-height: 28px;
      padding: 100px 0 70px;
   }
}

